*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.iml
.gradle/
build/
.externalNativeBuild/
gen/
bin/
**/obj
**/.DS_Store
captures
gradle.properties
gradlew
gradlew.bat
.idea/